* {
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    margin: 0;
    background-color: ghostwhite;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeContainer {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome {
    font-size: 90px;
}

.registerError,
.loginError {
    color: red;
}

.logo {
    box-sizing: content-box;
    width: 440px;
    padding-top: 45px;
    height: fit-content;
    margin-bottom: 40px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logosmall {
    width: 80px;
}

.registrationForm {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    height: 200px;
    width: 250px;
    justify-content: end;
    align-items: center;
}

.registerInput {
    margin-bottom: 10px;
}

button {
    width: 60px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.alreadyMember {
    display: block;
    width: max-content;
    margin-top: 12px;
}

.loginFormContainer {
    position: relative;
    bottom: 60px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginInput {
    margin-bottom: 8px;
}

.loginError {
    text-align: center;
}

.resetFormContainer {
    position: relative;
    bottom: 100px;
}

.registerH1 {
    position: relative;
    bottom: 55px;
    font-size: 22px;
}

.registerError {
    text-align: center;
}

.resetForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetInput {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sendVerificationButton {
    width: fit-content;
}
