* {
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

body {
    margin: 0;
    background-color: rgb(235, 235, 245);
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeContainer {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome {
    font-size: 90px;
}

.registerError,
.loginError {
    color: red;
}

.logoBig {
    box-sizing: content-box;
    width: 440px;
    padding-top: 45px;
    height: fit-content;
    margin-bottom: 40px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.appHeaderContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 90px;
    background-color: rgb(242, 250, 255);
}

.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
    width: 92vw;
}

.logoutButton {
    position: absolute;
    top: 100px;
    right: 20px;
}

.logo {
    width: 100px;
    height: 55px;
}

.profileContainer {
    background-color: rgb(224, 235, 245);
    display: flex;
    height: 240px;
    width: 650px;
    justify-content: space-around;
    align-items: center;
    border-radius: 2%;
    padding: 15px;
    border: 1px solid black;
}

.editIcon {
    width: 15px;
    cursor: pointer;
}

.bioInput {
    position: relative;
    top: 20px;
    font-size: 12px;
    padding: 5px;
}

.bioText {
    height: 134px;
    width: 315px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(242, 250, 255);
}

.editAddInputAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editAddButton {
    position: relative;
    top: 20px;
}

/* .bioTextInput {
    position: relative;
    right: 160px;
} */

.profilePicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: fit-content;
    width: fit-content;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.678);
    border-radius: 5%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.profilePicSmall {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.helloUser {
    position: relative;
    top: 5px;
}

.profilePicBig {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.uploaderContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(88, 88, 88, 0.548);
}

.uploadFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background: rgba(37, 38, 53, 0.856);
    width: 140px;
    height: 140px;
    border: 2px solid rgba(255, 255, 255, 0.438);
    box-shadow: 2px 1px rgba(0, 0, 0, 0.267);
}

.closeButtonBox {
    /* background: white; */
}

.closeButton {
    width: 12px;
    position: relative;
    left: 52px;
    top: 26px;
    cursor: pointer;
}

.resetFormContainer,
.loginFormContainer,
.registrationForm {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    justify-content: end;
    align-items: center;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 3%;
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.048);
    background-color: #d3def6d3;
}

.resetInput,
.loginInput,
.registerInput {
    margin-bottom: 10px;
    background-color: #e7eaf0c4;
}

button {
    width: 60px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.alreadyMember {
    display: block;
    width: max-content;
    margin-top: 12px;
}

.loginFormContainer {
    position: relative;
    bottom: 60px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginInput {
    margin-bottom: 8px;
}

.loginError {
    text-align: center;
}

.resetFormContainer {
    position: relative;
    bottom: 100px;
}

.registerH1 {
    position: relative;
    bottom: 55px;
    font-size: 22px;
}

.registerError {
    text-align: center;
}

.resetForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetInput {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sendVerificationButton {
    width: fit-content;
}
